<div class="modal_container" [class.show_register_modal]="openRegisterModal">
  <div class="modal_overlay"></div>
  <div class="modal_body">
    <!-- sign up form -->
    <form ngNativeValidate class="auth_form" (ngSubmit)="register()">
      <div class="auth_form-container">
        <div class="auth_form-header">
          <h3 class="auth_form-header-text">{{register_update}}</h3>
        </div>
        <div class="auth_form-form" *ngIf="user!==null ">
          <label for="username" class="auth_form-group" title="Tên đăng nhập" *ngIf="register_update==='Đăng ký'">
            <span class="label_input">Tên đăng nhập</span>
            <input type="text" [(ngModel)]="user.username" name="username" placeholder="Tên đăng nhập" class="auth_form-input" required>
          </label>
          <label for="password" class="auth_form-group" title="Mật khẩu">
            <span class="label_input">Mật khẩu</span>
            <input type="password" [(ngModel)]="user.password" name="password"
              placeholder="Mật khẩu" class="auth_form-input" *ngIf="register_update==='Đăng ký'" required>
            <input type="text" [(ngModel)]="user.password" name="password"
              placeholder="Mật khẩu" class="auth_form-input" *ngIf="register_update!=='Đăng ký'" required>
          </label>
          <label for="full_name" class="auth_form-group">
            <span class="label_input">Tên đầy đủ</span>
            <input type="text" [(ngModel)]="user.full_name" name="full_name" placeholder="Tên" class="auth_form-input">
          </label>
          <label for="department" class="auth_form-group">
            <span class="label_input">Phòng ban</span>
            <select class="select-container" name="department" [(ngModel)]="selected_department">
              <option *ngFor="let dpt of departments" [value]="dpt.id">{{dpt.name}}</option>
            </select>
          </label>
          <label for="role" class="auth_form-group">
            <span class="label_input">Vai trò</span>
            <select class="select-container" name="role" [(ngModel)]="user.role">
              <option *ngFor="let rl of roles" [value]="rl">{{rl}}</option>
            </select>
          </label>
          <label for="email" class="auth_form-group" title="Email">
            <span class="label_input">Email</span>
            <input type="text" [(ngModel)]="user.email" name="email" placeholder="Email" class="auth_form-input">
          </label>
          <label for="address" class="auth_form-group">
            <span class="label_input">Địa chỉ</span>
            <input type="text" [(ngModel)]="user.address" name="address" placeholder="Địa chỉ" class="auth_form-input">
          </label>
          <label for="phone_number" class="auth_form-group">
            <span class="label_input">Số điện thoại</span>
            <input type="text" [(ngModel)]="user.phone_number" name="phone_number" placeholder="Số điện thoại" class="auth_form-input">
          </label>
        </div>
        <div class="auth_form-button">
          <span class="btn btn--margin" (click)="closeRegisterModal()">TRỞ LẠI</span>
          <button class="btn btn--primary">{{register_update}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
