.footer{
	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 2px; */
	height: 30px;
	background-color: #67A6CA;
	display: flex;
	justify-content: space-around;
}
.footer_label{
	height: 100%;
	line-height: 30px;
	font-size: 1.5rem;
	color: white;
}
