<app-header></app-header>
<div class="grid admin-container">
  <div class="wide wrapper" style="max-width: 100%; min-height: 730px;">
    <div class="row page_css">
      <div class="admin_feature-container">
        <div class="admin_feature-item" (click)="control_user()">
          <span class="admin_feature-item-btn">Quản lý người dùng</span>
        </div>
        <div class="admin_feature-item" (click)="control_department()">
          <span class="admin_feature-item-btn">Quản lý phòng ban</span>
        </div>
      </div>
      <!-- department -->
      <div class="row admin_control" *ngIf="open_edit_dpt_var && dpt_var && add_dpt_var">
        <div class="admin-header">
          <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Danh sách phòng ban</h3>
        </div>
        <div class="user-table-container">
          <table class="users-table">
            <tr class="user-tr" style="background-color: #91CED4;">
              <td class="user-td">Mã phòng ban</td>
              <td class="user-td">Tên phòng ban</td>
              <td class="user-td">Vị trí phòng ban</td>
              <td></td><td></td>
            </tr>
            <tr class="user-tr user-tr-s" *ngFor="let dpt of departments|paginate:config_dpt">
              <td class="user-td">{{dpt.id}}</td>
              <td class="user-td">{{dpt.name}}</td>
              <td class="user-td">{{dpt.location}}</td>
              <td class="table-btn table-btn-edit" (click)=open_edit_department_modal(dpt.id)>
                <i class="far fa-edit"></i>
              </td>
              <td class="table-btn table-btn-delete" (click)=delete_department(dpt.id,dpt.name)>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
          </table>
          <pagination-controls (pageChange)="pagination_dpt($event)" class="pagination_page"></pagination-controls>
        </div>
        <!-- <div class="admin-footer">
        </div> -->
        <div class="add_btn-container">
          <div class="btn btn--primary add-btn-admin" (click)="control_add_dpt_modal()">Thêm phòng ban</div>
        </div>
      </div>
      <div class="row admin_control" *ngIf="open_edit_dpt_var && dpt_var && !add_dpt_var">
        <div class="admin-header">
          <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Thêm phòng ban</h3>
        </div>
        <form (ngSubmit)="add_dpt_fnc(new_department)" class="add_department-form">
          <div class="add_department-form-container">
            <label for="department_name" class="add_department-area">
              <span class="add_department-area-label">Tên phòng ban</span>
              <input type="text" name="department_name" class="add_department-area-text" [(ngModel)]="new_department.name">
            </label>
            <label for="department_location" class="add_department-area">
              <span class="add_department-area-label">Vị trí phòng ban</span>
              <input type="text" name="department_location" class="add_department-area-text" [(ngModel)]="new_department.location">
            </label>
          </div>
          <div class="add_department-form-btn">
            <button class="btn btn--primary add_department-btn">Thêm mới</button>
            <span class="btn" (click)="control_add_dpt_modal()" style="font-size: 1.6rem;">Hủy</span>
          </div>
        </form>
      </div>
      <div class="row admin_control" *ngIf="open_edit_dpt_var && !dpt_var && add_dpt_var">
        <form (ngSubmit)="edit_department(edited_department)" class="user_control-container">
          <div class="admin-header" style="margin-bottom:15px">
            <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Cập nhật thông tin phòng ban</h3>
          </div>
          <div class="user_control-form" *ngIf="edited_user!==null">
            <label for="department_id" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Mật phòng ban</span>
              <input type="text" class="user_control-form-input" name="department_id" [(ngModel)]="edited_department.id">
            </label>
            <label for="department_name" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Tên phòng ban</span>
              <input type="text" class="user_control-form-input" name="department_name" [(ngModel)]="edited_department.name">
            </label>
            <label for="department_location" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Vị trí phòng ban</span>
              <input type="text" class="user_control-form-input" name="department_location" [(ngModel)]="edited_department.location">
            </label>
          </div>
          <div class="user_control-btn-container">
            <div class="user_control-a">
              <button class="btn btn--primary user_control-btn">Cập nhật</button>
              <span class="btn user_control-btn" (click)="close_edit_department_modal()">Hủy</span>
            </div>
          </div>
        </form>
      </div>

      <!-- user -->
      <div class="row admin_control" *ngIf="open_edit_user_var && user_var && add_user_var">
        <div class="admin-header">
          <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Danh sách người dùng</h3>
        </div>
        <div class="user-table-container">
          <table class="users-table">
            <tr class="user-tr" style="background-color: #91CED4;">
              <td class="user-td">Họ & tên</td>
              <td class="user-td">Địa chỉ</td>
              <td class="user-td">Email</td>
              <td class="user-td">Vị trí</td>
              <td class="user-td">Số điện thoại</td>
              <td class="user-td">username</td>
              <td class="user-td">password</td>
              <td></td><td></td>
            </tr>
            <tr class="user-tr user-tr-s" *ngFor="let user of list_user|paginate:config_user">
              <td class="user-td">{{user.full_name}}</td>
              <td class="user-td">{{user.address}}</td>
              <td class="user-td">{{user.email}}</td>
              <td class="user-td">{{user.role}}</td>
              <td class="user-td">{{user.phone_number}}</td>
              <td class="user-td">{{user.username}}</td>
              <td class="user-td">{{user.password}}</td>
              <td class="table-btn table-btn-edit" (click)=open_edit_user_modal(user.username)>
                <i class="far fa-edit"></i>
              </td>
              <td class="table-btn table-btn-delete" (click)=delete_user(user.id,user.full_name)>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
          </table>
          <pagination-controls (pageChange)="pagination_user($event)" class="pagination_page"></pagination-controls>
        </div>
        <!-- <div class="admin-footer">
        </div> -->
        <div class="add_btn-container">
          <div class="btn btn--primary" (click)="control_add_user_modal()">Thêm người dùng</div>
        </div>
      </div>
      <div class="row admin_control" *ngIf="open_edit_user_var && user_var && !add_user_var">
        <form (ngSubmit)="add_user_fnc(new_user)" class="user_control-container">
          <div class="admin-header" style="margin-bottom:15px">
            <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Thêm người dùng</h3>
          </div>
          <div class="user_control-form">
            <label for="username" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Tên đăng nhập</span>
              <input type="text" class="user_control-form-input" name="username" [(ngModel)]="new_user.username">
            </label>
            <label for="password" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Mật khẩu</span>
              <input type="text" class="user_control-form-input" name="password" [(ngModel)]="new_user.password">
            </label>
            <label for="full_name" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Tên đầy đủ</span>
              <input type="text" class="user_control-form-input" name="full_name" [(ngModel)]="new_user.full_name">
            </label>
            <label for="department" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Phòng ban</span>
              <select class="" name="department" [(ngModel)]="selected_department">
                <option *ngFor="let dpt of departments" [value]="dpt.id">{{dpt.name}}</option>
              </select>
            </label>
            <label for="role" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Vai trò</span>
              <select class="" name="role" [(ngModel)]="new_user.role">
                <option *ngFor="let rl of roles" [value]="rl">{{rl}}</option>
              </select>
            </label>
            <label for="email" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Email</span>
              <input type="text" class="user_control-form-input" name="email" [(ngModel)]="new_user.email">
            </label>
            <label for="address" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Địa chỉ</span>
              <input type="text" class="user_control-form-input" name="address" [(ngModel)]="new_user.address">
            </label>
            <label for="phone_number" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Số điện thoại</span>
              <input type="text" class="user_control-form-input" name="phone_number" [(ngModel)]="new_user.phone_number">
            </label>
          </div>
          <div class="user_control-btn-container">
            <div class="user_control-a">
              <button class="btn btn--primary user_control-btn">Thêm</button>
              <span class="btn user_control-btn" (click)="control_add_user_modal()">Hủy</span>
            </div>
          </div>
        </form>
      </div>
      <div class="row admin_control" *ngIf="open_edit_user_var && !user_var && add_user_var">
        <form (ngSubmit)="edit_user(edited_user)" class="user_control-container">
          <div class="admin-header" style="margin-bottom:15px">
            <h3 class="admin-header-text"><i class="fas fa-user" style="font-weight: 400;"></i>Cập nhật thông tin</h3>
          </div>
          <div class="user_control-form" *ngIf="edited_user!==null">
            <label for="password" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Mật khẩu</span>
              <input type="text" class="user_control-form-input" name="password" [(ngModel)]="edited_user.password">
            </label>
            <label for="full_name" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Tên đầy đủ</span>
              <input type="text" class="user_control-form-input" name="full_name" [(ngModel)]="edited_user.full_name">
            </label>
            <label for="department" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Phòng ban</span>
              <select class="" name="department" [(ngModel)]="selected_department">
                <option *ngFor="let dpt of departments" [value]="dpt.id">{{dpt.name}}</option>
              </select>
            </label>
            <label for="role" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Vai trò</span>
              <select class="" name="role" [(ngModel)]="edited_user.role">
                <option *ngFor="let rl of roles" [value]="rl">{{rl}}</option>
              </select>
            </label>
            <label for="email" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Email</span>
              <input type="text" class="user_control-form-input" name="email" [(ngModel)]="edited_user.email">
            </label>
            <label for="address" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Địa chỉ</span>
              <input type="text" class="user_control-form-input" name="address" [(ngModel)]="edited_user.address">
            </label>
            <label for="phone_number" class="user_control-form-ctx">
              <span class="user_control-form-input-label">Số điện thoại</span>
              <input type="text" class="user_control-form-input" name="phone_number" [(ngModel)]="edited_user.phone_number">
            </label>
          </div>
          <div class="user_control-btn-container">
            <div class="user_control-a">
              <button class="btn btn--primary user_control-btn">Cập nhật</button>
              <span class="btn user_control-btn" (click)="close_edit_user_modal()">Hủy</span>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>
<app-register></app-register>
<app-footer></app-footer>
