.admin-container{
  min-height: 730px;
}
.pagination_page{
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px 0;
}
.pagination_page /deep/ .ngx-pagination {
  margin-bottom: 0;
}
.pagination_page /deep/ .ngx-pagination li{
  min-width: 35px;
  margin: 0 5px;
  border-radius:3px;
  text-align: center;
  font-size: 1.6rem;
  outline: none;
}
.pagination_page /deep/ .ngx-pagination li a:hover{
  border-radius: 3px;

}

.admin-header{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #327A81;
  height: 35px;
  padding: 35px 15px;
}
.admin-footer{
  width: 100%;
  display: flex;
  background-color: #327A81;
  height: 25px;
}
.add_btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.add-btn-admin{
  max-width: 150px;
}
.admin-header-text{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 50px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* user table */

.user-table-container{
  width: 100%;
}
.users-table{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-spacing: 0;
}

.user-tr{
  height: 30px;
  line-height: 30px;
  font-size: 1.6rem;
}
/* .user-tr-s{
  position: relative;
} */
.user_control-container{
  width: 100%;
}
.user_control-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.user_control-form-ctx{
  width: 60%;
  font-size: 2rem;
  height: 35px;
  line-height: 35px;
  display: flex;
  margin-bottom: 15px;
}
.user_control-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_control-a{
  width: 30%;
}
.user_control-btn{
  font-size: 1.8rem;
  margin-right: 15px;
}
.user_control-form-input-label{
  width: 150px;
}
.user_control-form-input{
  flex: 1;
}
.user-td{
  text-align: center;
}
.user-td:not(:last-child){
  border-right: 1px solid darkgray;
}

.user-tr:nth-child(2n+2){
  background-color: #DAEFF1;
}

.table-btn{
  min-width: 35px;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.table-btn:hover{
  opacity: 0.5;
}
.table-btn-edit{
  color: limegreen;
}
.table-btn-delete{
  color: red;
}


/*  */
.admin_feature-container{
  width: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #343a40;
}
.admin_feature-item:hover{
  opacity: 0.8;
}
.admin_feature-item{
  height: 50px;
  min-width: 200px;
}
.admin_feature-item-btn{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.8rem;
  padding: 10px;
  color: #c2c7d0;
}


/* add department */
.add_department-form{
  width: 50%;
  margin: 0 auto;
}
.add_department-form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_department-area{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.add_department-area-label{
  width: 135px;
}
.add_department-area-text{
  flex: 1;
}
.add_department-form-btn{
  padding-top: 15px;
  border:0.8 solid rgb(133, 133, 133) ;
}


.page_css{
  display: flex;
  margin: 0;

}
.admin_control{
  flex: 1;
  margin: 0;
}
