/* header*/

.header{
	background-color: #026AA7;
	height: 40px;
}
.header_container{
	height: 100%;
	display: flex;
	align-items: center;
  padding: 5px 10px;
  position: relative;
  justify-content: space-between;
}

.header_icon-container{
	display: flex;
	height: 100%;
}
.header_icon-item{
	background-color: #67A6CA;
	padding: 8px;
	margin-right: 5px;
	color: white;
	font-size: 1.6rem;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}
.search_board-container{
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius:3px ;
  position: relative;
}
.search_board-input{
  border-radius: 3px 0 0 3px;
  font-size: 1.6rem;
  border: none;
  height: 100%;
  line-height: 2rem;
  outline: none;
  border-right: 0.8px solid #808080;
  flex: 1;
  margin-left: 10px;
}
.search_board-btn{
  width: 35px;
  color: rgb(95, 93, 93);
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
}
.header_icon-item:hover{
	opacity: 0.8;
}
.search_board-result-container{
  /* position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background-color: white;
  border: 0.8px solid #918d8d;
  border-radius:0 0 3px 3px; */
}
.search_board-list{
  list-style: none;
  width: 100%;
}
.search_board-item{
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
  padding: 5px 10px;
}
.search_board-item:nth-child(2n+1){
  background-color: #f8f8f8;
}
.search_board-item:nth-child(2n+2){
  background-color: #e9e9e9;
}


.home_icon{
	margin:0 auto;
}
.fa-trello{
	margin-right: 5px;
}
.header_logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 45%;
}

.header_logo-link{
	display: block;
	height: 100%;
}
.header_logo--logo{
	max-height: 40px;
}
.header_authen{
	display: flex;
  height: 100%;
  align-items: center;
}
.header_authen-item{
	font-size: 1.5rem;
	position: relative;
}
.header_authen-item:not(:last-child){
	margin-right: 10px;
}
.login_container{
	position: absolute;
	top: 150%;
  right: 0;
  width: 115px;
	background-color: #67A6CA;
	border-radius: 3px;
	display: none;
}
.login_container::before{
	content: "";
	position: absolute;
    top: -18px;
    right: 0px;
	left: 0;
	bottom: 50%;
	background-color: transparent;
}

.login_container::after{
	content: "";
	position: absolute;
    top: -18px;
    right: 5px;
	border-style: solid;
    border-width: 9px 19px;
    border-color: transparent transparent #67A6CA transparent;
}
.header_login-item:hover .login_container{
	display: block;
}
.login_container-list{
	list-style: none;
	padding: 10px;
}
.login_container-item:hover .login_container-item--link{
	color: black;
}
.login_container-item:not(:last-child){
	padding:0 0 10px 0;
}
.login_container-item--link{
	text-decoration: none;
	color: white;
	display: block;
  position: relative;
  cursor: pointer;
}

.header_authen-item--hidden{
	display: none;
}
.header_authen-item--link{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.header_authen-item--link:hover{
	opacity: 0.8;
}
