<header class="header">
  <div class="header_container">
    <div class="header_icon-container">
      <a class="header_icon-item" href="index.html">
        <i class="fas fa-home home_icon"></i>
      </a>
      <a class="header_icon-item" href="index.html" >
        <i class="fab fa-trello"></i>  Boards
      </a>
      <div class="search_board-container" *ngIf="isLogined && !isAdmin">
        <input type="text" class="search_board-input" [(ngModel)]="board_keyword">
        <div class="search_board-btn" (click)=search_board()>
          <i class="fas fa-search" style="margin-right:0"></i>
        </div>
      </div>
    </div>
    <div class="header_logo">
      <a href="index.html" class="header_logo-link">
        <img src="https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png"
          class="header_logo--logo">
      </a>
    </div>
    <div class="header_authen">
      <div class="header_authen-item header_login-item" *ngIf="isLogined">
        <span class="header_authen-item--link"><i class="fas fa-user"></i>{{username}}</span>
        <div class="login_container">
          <ul class="login_container-list">
            <li class="login_container-item" (click)="openRegisterModal()">
              <span class="login_container-item--link">Setting</span>
            </li>
            <li class="login_container-item" (click)="logout()">
              <span class="login_container-item--link">Logout</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="header_authen-item" *ngIf="!isLogined" (click)="openLoginModal()">
        <span href="#" class="header_authen-item--link">Login</span>
      </div>
      <div class="header_authen-item" *ngIf="!isLogined" (click)="openRegisterModal()">
        <span href="#" class="header_authen-item--link">Register</span>
      </div>
    </div>
  </div>
</header>
<app-login></app-login>
<app-register></app-register>
