.home-container{
  min-height: 100%;
}
.label{
	font-size: 2.6rem;
	font-weight: 500;

}
.list_board{
	list-style: none;
	/* margin-top: 15px; */
	display: flex;
	width: 100%;
}

.list_board-item{
	height: 100px;
	width: 200px;
  cursor: pointer;
  position: relative;
}
.board_percent--complete{
  position: absolute;
  top: 50%;
  right: 15px;
  color: rgb(0,0,0);
  font-size: 1.5rem;
  display: none;
}
.list_board-item--delete{
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 1.5rem;
  z-index: 30;
}
.list_board-item--create{
	display: flex;
  align-items: center;
}
.list_board-item:hover{
	opacity: 0.8;
}

.board_info-container{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(219, 200, 174);
  box-shadow: 3px 3px rgba(137, 134, 134, 0.5);
  position: relative;
  border-radius: 8px;
}
.board_info-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
}
.board_info{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  z-index: 20;
}
.list_board-item--label{
	font-size: 1.5rem;
	color: white;
  display: flex;
  align-items: center;
	height: 80%;
	width: 95%;
}
.list-board-item--date{
  font-size: 1.3rem;
  width: 95%;
}
.list_board-item:nth-child(2n+1) .board_info-container{
  background-color: #4bca1f;
}
.list_board-item:nth-child(2n+2) .board_info-container{
  background-color: #3fa7e3;
}
/* .list_board-item:last-child .board_info-overlay{
  background-color: #B37B2C;
} */

.icon_plus{
	position: absolute;
	top: 35%;
	left: 42%;
	border-radius: 50%;
	border: 2px solid white;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.fa-plus{
	font-size: 1.6rem;
	color: white;
	margin-right: 0;
}
.last_row{
	margin-bottom: 0;
}

/*add board*/
.modal_body--tag{
	background-color: transparent;
	border:none;
	margin: 60px auto;
}
.board_form{
	width: 600px;
	background-color: transparent;

}
.board_form-container{
	display: flex;
	background-color: #e1f1bf;
  border-radius:0 0 5px 5px;
  flex-direction: column;
  padding: 5px;
}
.created_board-btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}
.created_board-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.created_board-text{
  width: 100px;
  margin: 10px 5px;
  font-size: 2rem;
}
.board_form-add-label{
  font-size: 2.3rem;
  padding: 10px;
  background-color: #e1f1bf;
  border-radius: 5px 5px 0 0;
  width: 600px;
  display: block;
  border-bottom: 0.08px solid darkgrey;
  text-align: center;
}
.board_form-input{
	outline: none;
	height: 30px;
	line-height: 30px;
	width: 95%;
	border:none;
	color: black;
	border-radius: 3px;
	font-size: 2rem;
}
.sss{
  flex:1;
}
.cancel_add_tag{
  height: 100%;
	color: crimson;
	font-size: 2.5rem;
  cursor: pointer;
  width: 35px;
  margin-left: 5px;
}

.board_form-input--text:hover, .board_form-input--text:focus{
	background-color: #e1f1bf;
}
.add_board-btn{
	background-color: white;
	font-size: 1.5rem;
}
.add_board-btn:hover{
	background-color: #519839;
}
