<app-header></app-header>
<div class="grid home-container">
  <div class="wide wrapper">
    <div class="row" *ngIf="!isLogined">
      <span class="wellcome-title">Wellcome to project management support application</span>
      <span class="wellcome-direction">
        <span class="wellcome-link" (click)="login_to_view()"> login </span>or
        <span class="wellcome-link" (click)="register_to_view()"> register account </span>
        to using application.
      </span>
    </div>
    <div class="row" *ngIf="isLogined && boards_search!==null">
      <div class="label">
        Result
      </div>
      <ul class="row list_board" id="list">
        <li class="col c-4 list_board-item" *ngFor="let board of boards_search">
          <div class="board_info-container">
            <!-- <div class="board_info-overlay" [style.width]="board.percent_complete+'%'"></div> -->
            <a class="board_info" routerLink="/board/{{board.id}}/{{current_user.username}}" title="Click để xem chi tiết">
              <span class="list_board-item--label">{{board.name}}</span>
              <span class="list-board-item--date">Created time: {{board.created_date|date:"short"}}</span>
            </a>
          </div>
          <span class="board_percent--complete">
            <!-- {{(board.percent_complete!==null?board.percent_complete:0) |number:".0-0"}}% -->
          </span>
          <span class="list_board-item--delete" *ngIf="isLeader" (click)="delete_board(board.id)" title="Xóa dự án">
            <i class="fas fa-times"></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="row" *ngIf="isLogined" style="margin-top:20px;">
      <div class="label">
        <!-- <i class="fas fa-cogs" *ngIf="isLeader"></i>
        <i class="fas fa-users" *ngIf="!isLeader"></i>
        Dự án với vai trò -->
        <!-- <span class="is_leader" *ngIf="isLeader">quản lý</span>
        <span class="is_leader" *ngIf="!isLeader">thành viên</span> -->
        <i class="fas fa-users"></i>Boards
      </div>
      <ul class="row list_board" id="list">
        <li class="col c-4 list_board-item" *ngFor="let board of boards">
          <div class="board_info-container">
            <!-- <div class="board_info-overlay" [style.width]="board.percent_complete+'%'"></div> -->
            <a class="board_info" routerLink="/board/{{board.id}}/{{current_user.username}}" title="Click để xem chi tiết">
              <span class="list_board-item--label">{{board.name}}</span>
              <span class="list-board-item--date">Created time: {{board.created_date|date:"short"}}</span>
            </a>
          </div>
          <span class="board_percent--complete">
            <!-- {{(board.percent_complete!==null?board.percent_complete:0) |number:".0-0"}}% -->
          </span>
          <span class="list_board-item--delete" *ngIf="isLeader" (click)="delete_board(board.id)" title="Xóa dự án">
            <i class="fas fa-times"></i>
          </span>
        </li>
        <li class="col c-4 list_board-item list_board-item--create" (click)="add_board_modal()" *ngIf="isLeader">
          <div class="board_info-container" style="background-color: #C19455;">
            <!-- <a class="list_board-item--label">Tạo dự án mới</a> -->
          </div>
          <div class="icon_plus">
            <i class="fas fa-plus"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal_container" [class.show_add-board-modal]="openAddBoardModal">
  <div class="modal_overlay"></div>
  <div class="modal_body modal_body--tag">
    <!-- add board form -->
    <form (ngSubmit)="add_a_board()" class="board_form">
      <span class="board_form-add-label">Create a new board</span>
      <div class="board_form-container">
        <div class="created_board-item">
          <p class="created_board-text">Board name</p>
          <label for="name_board" class="sss">
            <input type="text" name="name_board" [(ngModel)]="name_board" class="board_form-input" placeholder="Enter board name">
          </label>
        </div>
        <div class="created_board-item">
          <p class="created_board-text">Budget</p>
          <label for="budget_board" class="sss">
            <input type="text" name="budget_board" [(ngModel)]="budget_board" class="board_form-input" placeholder="Enter board budget">
          </label>
        </div>
        <div class="created_board-item">
          <p class="created_board-text">Description</p>
          <label for="description_board" class="sss">
            <input type="text" name="description_board" [(ngModel)]="description_board" class="board_form-input" placeholder="Enter board description">
          </label>
        </div>
      </div>
      <div class="created_board-btn-container">
        <button class="btn btn--primary add_board-btn">Create</button>
        <div class="cancel_add_tag" (click)="add_board_modal_close()">
          <i class="fas fa-times" id="close_add_tag_form"></i>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
