<app-header></app-header>
<div class="grid detail-container" style="padding-top: 10px;">
  <div class="wide wrapper">
    <div class="row">
      <div class="col board_info-container" *ngIf="board">
        <h3 class="board-name" *ngIf="!openModalEditNameBoard">
          <span>{{board.name}}</span>
          <span class="edit_name_board-btn" (click)="control_edit_name_board_modal()" *ngIf="isLeader">
            <i class="fas fa-pen"></i>
          </span>
        </h3>
        <form (ngSubmit)="update_name_board()" class="edit_board-form" *ngIf="openModalEditNameBoard">
          <div class="edit_board-enter">
            <label for="name_board" class="edit_board-input">
              <span class="edit_board-label">Enter a new name board: </span>
              <input type="text" autocomplete="off" name="name_board" class="edit_board-text" [(ngModel)]="new_name_board">
            </label>
          </div>
          <div class="edit_board-btn">
            <button class="edit_board-button">Save</button>
            <span class="edit_board-button" (click)="control_edit_name_board_modal()">Cancel</span>
          </div>
        </form>
        <div class="board_info--detail">
          <div class="board-date">Created date: {{board.created_date|date:'short'}}</div>
          <div class="board_info-members">
            <span class="board_info-members--label">Members:</span>
            <div class="board_info-members-list">
              <div class="board_info-members-list-container" *ngFor="let member_of_board of users_to_update_board">
                <div class="board_info-members-item" *ngIf="member_of_board.is_user_in_board===1">
                  <i class="fas fa-user board_info-members-user_icon"></i>
                  <div class="board_info-members-item--detail">
                    <span class="members-item--fullname">{{member_of_board.full_name}}-{{member_of_board.role}}</span>
                    <span class="members-item--department">{{member_of_board.department.name}}</span>
                  </div>
                </div>
              </div>
              <div class="board_info-members--invite">
                <div class="board_info-member--invite-label" (click)="open_add_member_to_board_modal()">
                  <span class="board infor-member--invite-label-text">Add</span>
                </div>
                <div class="invited_member-container" *ngIf="addMemberToBoardModal">
                  <div class="invited_member-container-label">
                    <span class="member_list-updated_board">Members</span>
                    <i class="fa fa-times" (click)="close_add_member_to_board_modal()" *ngIf="isLeader"></i>
                  </div>
                  <div class="invited_member-container-main">
                    <ul class="add-item-list">
                      <li class="add-member-item" *ngFor="let user of users_to_update_board"
                        (click)="add_member_to_board(user.id,user.is_user_in_board)">
                        <span class="add-member-link">
                          <div class="member-avatar">
                            <i class="fas fa-user member-icon"></i>
                          </div>
                          <div class="member-name">{{user.full_name}}</div>
                          <div class="member-deleted" *ngIf="user.is_user_in_board===1">
                            <i class="fas fa-trash-alt"></i>
                          </div>
                          <div class="member-added" *ngIf="user.is_user_in_board===0">
                            <i class="fas fa-plus" style="color: #2f801f;"></i>
                          </div>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul cdkDropListGroup class="list-container">
      <li class="col list--item" *ngFor="let list of lists">
        <!-- <ul class="board_list-container">
          <h3 class="list--label">AA</h3>
        </ul> -->
        <ul id="{{list.id}}" cdkDropList [cdkDropListData]="list"
           class="board_list-container" (cdkDropListDropped)="drop($event)">
          <h3 class="board_list-label">{{list.name}}</h3>
          <li class="board_list-tag" *ngFor="let card of list.cardDTOS" cdkDrag [cdkDragData]="card">
            <div class="status-tag">
              <span class="status-tag-text">
                <!-- <i class="fas fa-exclamation-triangle" [style.color]="todo.label"></i> -->
                <h3 class="tag-label">{{card.name}}</h3>
                <i class="fas fa-eye" (click)="open_edit_tag_modal(card)" title="Edit tag"></i>
                <i class="fas fa-times" (click)="deleteATag(card.id,card.name)" title="Delete tag" *ngIf="isLeader"></i>
              </span>
            </div>
            <span class="board_list-tag-deadline" *ngIf="card.end_date">
              <p class="tag-deadline">
                <i class="far fa-clock" style="margin-right:5px"></i>
                {{card.end_date|date:"short"}}
              </p>
            </span>
            <span class="board_list-tag--link" *ngIf="card.attendees">
              <p class="tag_member">
                <i class="fas fa-users"></i>
                <span class="user_in_card" *ngFor=" let attendee of card.attendees">
                  <span *ngIf="attendee.id !==card.attendees[card.attendees.length-1].id " style="margin-right: 5px;">{{attendee.user.full_name}},</span>
                  <span *ngIf="attendee.id ===card.attendees[card.attendees.length-1].id ">{{attendee.user.full_name}}</span>
                </span>
              </p>
            </span>
            <div class="percent-tag--complete">
              <i class="far fa-check-square" style="margin-right: 10px;"></i>
              <span class="percent-tag-text" *ngIf="card.checkList">{{card.qty}}/{{card.checkList.length}}</span>
            </div>
            <div class="status-tag-container">
              <p class="status-tag--label" [class.status-tag--doing]="card.status==='doing'"
                [class.status-tag--expired]="card.doing_complete_expire<0?true:false">{{card.doing_complete_expire<0?'Quá hạn':'Chưa hoàn thành'}}</p>
            </div>
          </li>
          <li ng-show="todoList.length==0">&nbsp;</li>
          <span class="board_list--add" (click)="control_add_tag_modal(list.id)" *ngIf="isLeader && (selected_list_id!==list.id)">
            <i class="fas fa-plus"></i> Add a new card
          </span>
          <div class="add_tag-container" *ngIf="selected_list_id===list.id" [class.show_add_tag]="openModalAddTag">
            <form ngNativeValidate class="add_tag-form" (ngSubmit)="add_new_tag(list.id)">
              <label for="name_tag">
                <input type="text" autocomplete="off" name="name_tag" class="add_tag-text" placeholder="Nhập tên nhiệm vụ" [(ngModel)]="name_tag">
              </label>
              <span class="member_selected" *ngIf="member">Members:
                <span *ngFor="let user of created_tag_users" style="color:#c73a1e; padding-left:5px;">{{user.full_name}},</span>
              </span>
              <div class="add_tag-deadline">
                <label for="deadline-time" class="add_tag-deadline-label">Deadline:
                  <input type="datetime-local" name="deadline-time"
                  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}" (change)="add_deadline_time($event.target.value)">
                </label>
              </div>
              <div class="add_tag-btn-container">
                <button class="add_tag-btn add_tag-btn--primary">Add</button>
                <span class="add_tag-btn" (click)="control_add_tag_modal(null)"><i class="fas fa-times"></i></span>
                <div class="add_tag-label">
                  <input type="checkbox" class="add_tag-label-btn" (change)="add_label_to_tag()">
                  <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="add_tag-member" title="Attach member" (click)="control_add_memberm_modal()">
                  <i class="fas fa-users"></i>
                </div>
                <div class="add-item-container member-main" [class.show_add_memberm]="openModalAddMemberm">
                  <div class="minion_edit">
                    <span class="add-item-close-btn" (click)="control_add_memberm_modal()">
                      <i class="fas fa-times"></i>
                    </span>
                  </div>
                  <p class="add-item-header">Members</p>
                  <ul class="add-item-list">
                    <li class="add-member-item" *ngFor="let user of users_to_created_card"
                      (click)="add_member_to_tag(user)">
                      <span class="add-member-link">
                        <div class="member-avatar">
                          <i class="fas fa-user member-icon"></i>
                        </div>
                        <div class="member-name">{{user.full_name}}</div>
                        <div class="member-deleted" *ngIf="user.selected_user_in_created_card===1">
                          <i class="fas fa-trash-alt"></i>
                        </div>
                        <div class="member-added" *ngIf="user.selected_user_in_created_card===0">
                          <i class="fas fa-plus" style="color: #61BD4F;"></i>
                        </div>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </ul>
      </li>
      <li class="col list--item add_list-container">
        <form ngNativeValidate (ngSubmit)="add_a_new_list(new_name_list)" class="board_list-container add_list-form">
          <div class="add_list-btn" [class.add_list-btn--hidden]="add_list_btn" (click)="open_add_list_modal()" >
            <i class="fas fa-plus"></i>
            <h3 class="add_list-container--open">Add another list</h3>
          </div>
          <div class="add_list--main-container" [class.add_list--main-container--active]="add_list_modal">
            <div class="add_list-input-container">
              <label for="name_list">
                <input type="text" name="name_list" class="add_list-text" [(ngModel)]="new_name_list" placeholder="Enter name of list" required>
              </label>
            </div>
            <div class="add_list-btn-container" >
              <button class="add_list-btn--post">Add list</button>
              <span (click)="cancel_add_list()"><i class="fas fa-times"></i></span>
            </div>
          </div>
        </form>
      </li>
    </ul>

  </div>
</div>
<div class="modal_container" [class.show_edit_tag]="openModalEditTag">
  <div class="modal_overlay"></div>
  <div class="modal_edit-container">
    <a class="modal_edit-close-btn" (click)="close_edit_tag_modal()">
      <i class="fas fa-times"></i>
    </a>
    <div class="modal_edit-wrapper">
      <div class="modal_edit-header">
        <div class="modal_edit-title">
          <div class="modal_edit-title-icon"><i class="far fa-credit-card"></i></div>
          <h3 class="modal_edit-title-text" *ngIf="!openModalEditNameTag">
            {{tag.name}}
          </h3>
          <span class="name_tag-btn--change">
            <i class="fas fa-pen" *ngIf="!openModalEditNameTag && isLeader" (click)="control_edit_name_tag_modal()" title="Edit tag"></i>
          </span>
          <form (ngSubmit)="update_tag(tag)" class="modal_edit-name-tag-form" *ngIf="openModalEditNameTag && isLeader">
            <label for="name_tag" class="name_tag-text">
              <input type="text" autocomplete="off" name="name_tag" class="name_tag-text--change" [(ngModel)]="name_tag_change">
            </label>
            <button class="btn btn--primary">Save</button>
            <span class="btn btn--margin" (click)="control_edit_name_tag_modal()" style="color: #d5b5b5;">Hủy</span>
          </form>
        </div>
        <p class="modal_edit-tag-in-list">in list
          <span class="list-style" style="color:#61BD4F; font-size: 1.8rem;">
            {{list.name}}
          </span>
          <!-- <span class="list-style" style="color:#61BD4F; font-size: 1.8rem;" *ngIf="list.type==='doing'?true:false">
            Nhiệm vụ đang thực hiện
          </span>
          <span class="list-style" style="color:#61BD4F; font-size: 1.8rem;" *ngIf="list.type==='complete'?true:false">
            Nhiệm vụ đã hoàn thành
          </span> -->
        </p>
        <div *ngIf="tag.attendees" class="modal_edit-title">
          <div class="modal_edit-title-icon"><i class="fas fa-users"></i></div>
          <h3 class="modal_edit-title-text modal_edit-title-user--fullname">
            <span class="user_in_card" *ngFor="let attendee of tag.attendees">
              <span *ngIf="attendee.id !==tag.attendees[tag.attendees.length-1].id " style="margin-right: 5px;">{{attendee.user.full_name}},</span>
              <span *ngIf="attendee.id ===tag.attendees[tag.attendees.length-1].id ">{{attendee.user.full_name}}</span>
            </span>
          </h3>
        </div>
      </div>
      <div class="modal_edit-main">
        <div class="modal_edit-main-col">
          <div class="main-col-detail">
            <div class="detail-checklist">
              <div class="detail-checklist--info">
                <span class="detail-checklist-icon">
                  <i class="far fa-check-square"></i>
                </span>
                <p class="detail-checklist-label">Detail</p>
              </div>
              <div class="detail-checklist--percent">
                <span class="checklist--percent">{{tag.percent_complete|number:".0-0"}}%</span>
                <div class="checklist--progress">
                  <div class="quantity-complete" [style.width]="tag.percent_complete+'%'"></div>
                </div>
              </div>

              <!-- Detail container -->
              <ul class="detail-checklist-list" *ngIf="details">
                <li class="detail-checklist-item"  *ngFor="let detail of details">
                  <input type="checkbox" name="" class="detail-checklist-item-checkbox"
                    [checked]="detail.status==='complete'" (change)="edit_detail(detail.id,detail.status,'0')">
                  <span class="detail-checklist-item-time" *ngIf="!(detail_edited_id===detail.id) && detail.checklist_time!==null">
                    {{detail.checklist_time|date:"mediumDate"}}:
                  </span>
                  <span class="detail-checklist-item-label" *ngIf="!(detail_edited_id===detail.id)">{{detail.name}}</span>
                  <form (ngSubmit)="edit_detail(detail.id,detail.status,'1')" class="update_detail-container" *ngIf="detail_edited_id===detail.id">
                    <label for="name_detail" class="name_detail-container">
                      <input type="text" autocomplete="off" name="name_detail" class="name_detail-container-input" [(ngModel)]="name_detail_change">
                    </label>
                    <button class="btn btn--primary">Save</button>
                    <span class="input-icon" (click)="close_update_detail_modal()"><i class="fas fa-times"></i></span>
                  </form>
                  <span class="btn btn--margin detail-checklist-item-btn"
                    (click)="delete_detail(detail.id)"
                      *ngIf="!(detail_edited_id===detail.id) && is_attendee">Delete
                  </span>
                  <span class="btn btn--margin detail-checklist-item-btn"
                    (click)="edit_detail_form(detail.id)"
                      *ngIf="!(detail_edited_id===detail.id) && is_attendee">
                      Edit
                  </span>
                </li>
              </ul>

              <!-- add detail form -->
              <span class="btn btn--margin" style="background-color: #E1E4E9;max-width: 50px;margin-left: 40px;"
                (click)="control_add_detail_modal()" *ngIf="!openModalAddDetail && is_attendee">Add checklist</span>
              <form ngNativeValidate (ngSubmit)="add_a_detail()" class="detail-checklist-add-btn" [class.show_add_detail]="openModalAddDetail">
                <div class="add_detail-param">
                  <label for="name_detail">
                    <input required type="text" autocomplete="off" name="name_detail" class="add_tag-text" [(ngModel)]="name_detail">
                  </label>
                  <div class="add_detail-time">
                    <label for="checklist_time" class="add_tag-deadline-label">
                      <input type="datetime-local" name="checklist_time"
                        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}" (change)="add_time_checklist($event.target.value)">
                    </label>
                  </div>
                </div>
                <div class="detail-checklist-add-btn-control">
                  <button class="btn btn--primary">Save</button>
                  <span class="input-icon" (click)="control_add_detail_modal()"><i class="fas fa-times"></i></span>
                </div>
              </form>
            </div>
            <form ngNativeValidate class="debate_post-container" (ngSubmit)="post_comment(tag)">
              <label for="debate_input">
                <textarea cdkTextareaAutosize type="text" name="debate_input"
                  class="debate-input" placeholder="Write a comment..." [(ngModel)]="comment_content"
                  [maxLength]="350" [rows]="1" required>
                </textarea>
              </label>
              <div class="debate_post-button">
                <button class="btn btn--primary">Post comment</button>
              </div>
            </form>
            <ul class="debate_content-container-list">
              <li class="debate_content-item" *ngFor="let debate of debates">
                <div class="debate_content-item--main">
                  <span class="debate_time-user" style="font-weight: bold; margin-right: 10px;">{{debate.employee}}:</span>
                  <span class="debate_content-text">{{debate.content}}</span>
                  <span class="debate_time-text">{{debate.time|date:'short'}}</span>
                </div>
                <span class="debate_content-item-btn"
                  (click)="delete_a_comment(debate,tag)" *ngIf="current_username===debate.employee">
                  Delete
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal_edit-sidebar" *ngIf="tag.listBoard && isLeader">
          <div class="sidebar-header">Option</div>
          <div class="sidebar-item sidebar-member">
            <div class="add_member" (click)="control_add_member_modal(tag)">
              <span class="sidebar-icon"><i class="far fa-user"></i></span>
              <span class="sidebar-text">Members</span>
            </div>
            <div class="add-item-container" [class.show_add_member]="openModalAddMember">
              <div class="minion_edit">
                <span class="add-item-close-btn" (click)="control_add_member_modal(null)">
                  <i class="fas fa-times"></i>
                </span>
              </div>

              <p class="add-item-header">Members</p>
              <ul class="add-item-list">
                <li class="add-member-item" *ngFor="let member of users_to_updated_card"
                  (click)="update_member_to_tag(member)">
                  <span class="add-member-link">
                    <div class="member-avatar">
                      <i class="fas fa-user member-icon"></i>
                    </div>
                    <div class="member-name">{{member.full_name}}</div>
                    <div class="member-deleted" *ngIf="member.selected_user_in_created_card===1">
                      <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="member-added" *ngIf="member.selected_user_in_created_card===0">
                      <i class="fas fa-plus" style="color: #61BD4F;"></i>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar-item sidebar-label">
            <div class="add-label" (click)="control_add_label_modal()">
              <span style="margin-right: 0" class="sidebar-icon"><i class="fas fa-tag"></i></span>
              <span class="sidebar-text">Label</span>
            </div>
            <div class="add-item-container" [class.show_add_label]="openModalAddLabel">
              <span class="add-item-close-btn" (click)="control_add_label_modal()">
                <i class="fas fa-times"></i>
              </span>
              <p class="add-item-header">Label</p>
              <ul class="add-item-list">
                <li class="add-label-item" *ngFor="let label_tag of label_important" (click)="update_label_to_tag(label_tag)">
                  <span class="add-label-link">
                    <div class="label-type" [class.label-important]="label"
                      [class.label-not-important]="label_tag==='not important'">
                      <span class="label-text">{{label_tag}}</span>
                    </div>
                    <!-- <i class="fas fa-pen" style="display: block; width: 25px;"></i> -->
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
