h3{
  margin: 0;
}
.detail-container{
  min-height: 100%;
}
/* board info */
.board_info-container{
  width: 100%;
  padding-top: 0;
  margin: 0 8px 0 8px;
  background-color: #e8f0ff;
  border-radius: 10px;
  text-align: center;
  border: 0.08px solid darkslateblue;
}
.board-name{
  height: 30px;
  line-height: 30px;
  font-size: 2.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.edit_board-form{
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  max-width: 600px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}
.edit_board-enter{
  margin-right: 10px;
}
.edit_board-button{
  outline: none;
  border: 0.08 solid #899fbd;
  font-size: 1.6rem;
  padding: 5px 8px;
  cursor: pointer;
}
.edit_board-text{
  padding: 0px 10px;
  height: 30px;
  border-radius: 3px;
  border: 0.08px solid rgb(173, 170, 167);
  outline: none;
}
.edit_name_board-btn{
  font-size: 1.8rem;
  color: #899fbd;
  display: none;
  margin-left: 15px;
}
.board-name:hover .edit_name_board-btn{
  display: block;
}
.board_info--detail{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px 0;
}
.board-date{
  display: flex;
  height: 20px;
  line-height: 20px;
  font-size: 1.8rem;
  margin: 10px 8px 10px 0;
}
.board_info-members{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  margin: 10px 8px 10px 0;
}
.board_info-members::before{
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-left: 1.5px solid rgb(49, 49, 49);
  top: 0;
  left: 0;
}
.board_info-members--label{
  font-size: 1.8rem;
  height: 20px;
  line-height: 20px;
  margin-right: 8px;
}
.board_info-members-list{
  display: flex;
  align-items: center;
  position: relative;
}
.board_info-members-item{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  background-color: #a2a2b0;
}
.board_info-members-user_icon{
  margin: 0 auto;
}
/* .board_info-members-list .board_info-members-list-container .board_info-members-item:nth-child(2n+1){
  background-color: #a2a2b0;
}
.board_info-members-list .board_info-members-list-container .board_info-members-item:nth-child(2n+2){
  background-color: #7570f2;
} */
.board_info-members-item--detail{
  display: none;
  position: absolute;
  top: 30px;
  left: -5px;
  background-color: burlywood;
  border-radius: 3px;
  padding: 5px 3px;
  z-index: 100;
}
.board_info-members-item--detail::after{
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  border: 15px solid;
  border-color: transparent transparent burlywood transparent;
}
.board_info-members-item:hover .board_info-members-item--detail{
  display: flex;
  justify-content: space-around;
  min-width: 220px;
  border: 1px solid #807b7b;
}
.board_info-members--invite{
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #172b4d;
  background-color: white;
  /* padding: 3px 8px; */
  position: relative;
  width: 50px;
  height: 100%;
}
.board_info-members--invite:hover{
  /* opacity: 0.8; */
  cursor: pointer;
}
.board_info-members--invite-label{
  font-size: 1.8rem;
}
/*-------------------board view*/
.board_list{

}
.board_list-container{
	list-style: none;
	background-color: #EBECF0;
	border-radius: 3px;
  padding: 10px;
  border: 0.06px solid cadetblue;
  min-height: 36px;
  position: relative;
}
/* .scroll-container{
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}
.scroll-container::-webkit-scrollbar{
  width: 12px;
}
.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6)
} */

.board_list-label{
	font-size: 2rem;
  padding:0 0 10px 0;
  border-bottom: 0.01px solid #acb8c9;
}
.board_list-tag{
	background-color: white;
  /* padding: 25px 5px 0 5px; */
  padding: 10px 5px 5px 5px;
	margin: 10px 0;
	border-radius: 3px;
  box-shadow: 2px 2px rgba(9,30,66,.5);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}
.status-tag-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  display: none;
}
.status-tag--label{
  max-width: 110px;
  height: 100%;
  line-height: 100%;
  font-size: 1.3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 3px 3px;
  box-shadow: 2px 2px rgba(9,30,66,.5);
}
.status-tag--completed{
  background-color: #60c25c;
}
.status-tag--doing{
  background-color: #70ade7;
}
.status-tag--expired{
  background-color: #ec7373;
}
.board_list-tag--link{
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	display: flex;
	line-height: 100%;
	/* height: 100%; */
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
}
.percent-tag--complete{
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.percent-tag-text{
  color: #cc1616;
}

.tag-label{
  font-size: 1.8rem;
  color: black;
  flex: 1;
}
.tag_member{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
}
.fa-times{
	color:  #a40000;
	font-size: 1.8rem;
  width: 20px;
  margin: 0;
}
.board_list-tag:hover{
	background-color: #D9DCE2;
}
.board_list--add{
	display: block;
	padding: 10px 8px;
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
  border-radius: 3px;
  cursor: pointer;
  max-width: 55%;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  border: 0.01px solid #acb8c9;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
}
.board_list--add:hover{
	background-color: #D9DCE2;
}

/*add tag*/
.add_tag-container{
  display: none;
  margin-top: 10px;
}
.add_tag-form{
	display: flex;
  flex-direction: column;
  width: 100%;
}
.add_tag-text{
	font-size: 1.3rem;
	border-radius: 3px;
	outline: none;
	border:none;
	box-shadow: 0 1px 0 rgba(9,30,66,.25);
	margin-bottom: 10px;
	width:100%;
	display:block;
	max-width:100%;
	line-height:1.5;
	padding:15px 15px 30px;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	background:-o-linear-gradient(#F9EFAF, #F7E98D);
	background:-ms-linear-gradient(#F9EFAF, #F7E98D);
	background:-moz-linear-gradient(#F9EFAF, #F7E98D);
}
.add_tag-btn{
	width: 80px;
	padding: 10px 10px;
	border:none;
	cursor: pointer;
	font-size: 2rem;
	outline: none;
}
.member_selected{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.add_tag-deadline{
  margin-bottom: 10px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.add_tag-btn--primary{
	background-color: #5AAC44;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9,30,66,.25);
	font-size: 1.4rem;
}
.add_tag-btn:hover{
	opacity: 0.8;
}
.add_tag-btn-container{
  display: flex;
  position: relative;
}
.add_tag-member{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
}

/* edit tag*/
.modal_edit-container{
  min-width: 750px;
  min-height: 1000px;
	background-color: #F4F5F7;
	padding: 20px;
	position: relative;
	margin: 50px auto;
	border-radius: 3px;
}
.modal_edit-close-btn{
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 1.8rem;
	cursor: pointer;
}
.modal_edit-header{
  margin-bottom: 20px;
  border-bottom: 1px solid #42526e;
}
.modal_edit-title{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.modal_edit-title-icon{
  font-size: 2rem;
  min-width: 25px;
}
.modal_edit-title-text{
	font-size: 2rem;
  color: #026AA7;
  margin: 0 15px;
  line-height: 100%;
}
.modal_edit-tag-in-list{
	font-size: 1.5rem;
	font-weight: 400;
  margin-left: 40px;
  padding-bottom: 25px;
}
.modal_edit-main{
	display: flex;
}
.modal_edit-main-col{
	flex: 0 0 75%;
	width: 75%;
}
.modal_edit-sidebar{
	flex: 0 0 25%;
	max-width: 25%;
	margin-left: 15px;
}
.main-col-description{
	margin-bottom: 20px;
}
.main-col-description-label{
	margin:0 0 4px 40px;
	position: relative;
	min-height: 32px;
	display: flex;
	align-items: center;
}
.main-col-description-icon{
	position: absolute;
	top: 4px;
	left: -40px;
	font-size: 2rem;
}
.main-col-description-title{
	font-size: 1.8rem;
	color: #172b4d;
}
.main-col-description-text{
	margin-left: 40px;
}
.main-col-description-text-input{
	border: none;
	background-color: #E1E4E9;
	width: 100%;
	font-size: 1.5rem;
	border-radius: 3px;
}
.main-col-description-text-btn{
	display: none;
	margin-top: 8px;
}
.input-icon{
	margin-left: 10px;
	font-size: 1.8rem;
}
.main-col-description-text-input:focus{
	background-color: white;
}
.main-col-description-text-input:focus + .main-col-description-text-btn{
	display: flex;
	align-items: center;
}
::placeholder {
  color: #C1DAB9;
}

/*tag detail*/
.main-col-detail{
	margin-bottom: 35px;
}
.detail-checklist{
  padding-bottom: 25px;
  border-bottom: 1px solid #42526e;
}
.detail-checklist--info{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.detail-checklist-icon{
	width: 40px;
	font-size: 2rem;
}
.detail-checklist-label{
	flex: 1;
  font-size: 1.8rem;
  margin: 0;
}
.detail-checklist-btn, .detail-checklist-item-btn{
	width: 50px;
  background-color: #E1E4E9;
  margin: 0;
  justify-content: center;
  display: flex;
}
.detail-checklist-item-btn{
  margin-right: 10px;
}
.detail-checklist--percent{
	margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.checklist--percent{
	width: 40px;
	font-size: 1.5rem;
}
.checklist--progress{
	flex:1;
	height: 10px;
	background-color: #E1E4E9;
	border-radius: 999px;
}
.quantity-complete{
  background-color: #34b610;
  height: 100%;
  border-radius: 999px;
}
.detail-checklist-list{
  list-style: none;
  margin-bottom: 20px;

}
.detail-checklist-item{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.detail-checklist-item-checkbox{
	width: 20px;
	height: 20px;
	font-size: 2.3rem;
	margin-right: 20px;
}
.detail-checklist-item-label{
	flex: 1;
	font-size: 1.5rem;
}

.detail-checklist-add-btn{
  margin-left: 40px;
  display: none;
}

/*activity*/
.activity-header{
	display: flex;
	align-items: center;
}
.activity-icon{
	width: 40px;
	font-size: 2.2rem;
}
.acitivity-label{
	flex:1;
	font-size: 1.8rem;
}
.activity-btn{
	min-width: 70px;
	background-color: #E1E4E9;
	margin:0;
}



/* sidebar col*/

.sidebar-header{
	font-size: 1.6rem;
}
.sidebar-item{
	display: flex;
	align-items: center;
	text-decoration: none;
	margin: 8px 0 0 0;
	padding: 6px 12px;
	background-color:rgba(9,30,66,.08);
	height: 32px;
	max-width: 160px;
	border-radius: 3px;
	color: #42526e;
}
.sidebar-member{
	position: relative;
}
.sidebar-label{
	position: relative;
}
.add_member{
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.add-item-close-btn{
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 1.5rem;
	cursor: pointer;
}
.add-item-container{
	position: absolute;
	top:0;
	left: 100%;
	right: -120%;
	background-color: white;
	z-index: 200;
  border-radius: 3px;
  border: 0.08px solid burlywood;
	display: none;
}
.member-main{
  position: absolute;
  top: 20%;
  left: 104%;
  width: 200px;
}
.add-item-header{
	font-size: 1.5rem;
	margin: 0 auto;
	margin: 8px 8px 0 8px;
	text-align: center;
	border-bottom: 2px solid #F5F6F7;
	padding:0 0 15px 0;
}
.add-item-list{
	list-style: none;
	margin:8px 8px 20px 8px;
	font-size: 1.5rem;
}
.add-member-item{
	height: 30px;
	border-radius: 3px;
	background-color: #F5F6F7;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-member-item:hover{
  background-color: #7a7e86;
}
.add-member-link{
	text-decoration: none;
	line-height: 30px;
	display: flex;
  align-items: center;
}
.member-avatar{
	width: 20px;
	height: 20px;
	border-radius: 999px;
	background-color: #C1C7D0;
  margin-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
.member-icon{
  width: 100%;
  margin-right: 0;
}


.sidebar-item:hover{
	background-color: rgba(9,30,66,.1);
}
.sidebar-icon{
	margin-right: 10px;
	font-size: 1.5rem;
}
.sidebar-text{
	font-size: 1.5rem;
}

.add-label{
  width: 100%;
  cursor: pointer;
}
.add-label-item{
	height: 30px;
	border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-label-item:hover{
  opacity: 0.8;
}
.add-label-link{
	text-decoration: none;
	line-height: 30px;
	display: flex;
	align-items: center;
	height: 100%;
}
.label-type{
	flex: 1;
	margin:0 0 4px 0;
	border-radius: 3px;
	display: flex;
	padding: 6px 12px;
  height: 100%;
  background-color: #EB5A46;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.label-text{
}
.label-not-important{
	background-color: #61BD4F;
}


/*  */
.show_add_tag{
  display: flex;
}
.show_edit_tag{
  display: flex;
}
.show_add_detail{
  display: block;
}
.show_add_member{
  display: block;
}
.show_add_memberm{
  display: block;
}
.show_add_label{
  display: block;
  right: -100%;
}

.update_detail-container{
  flex: 1;
}
.name_detail-container{

}
.name_detail-container-input{
  height: 35px;
  line-height: 35px;
  font-size: 1.8rem;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
}


/* move container */
.move-list-container{
  font-size: 1.5rem;
}
.move-checkbox{
  margin-top: 25px;
}
.move-label{
  font-size: 1.8rem;
  color:#5AAC44;
}

.status-tag{
  width: 100%;
  margin-bottom: 10px;
}
.board_list-tag-deadline{
  margin-bottom: 10px;
  font-size: 1.4rem;
  display: flex;
  /* line-height: 100%; */
  height: 100%;
  width: 100%;
  /* background-color: #61bd4f; */
  border-radius: 5px;
}
.tag-deadline{
  display: block;
  /* margin-left: 3px; */
  background-color: #61bd4f;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 0;
}
.status-tag-text{
  font-size: 1.6rem;
  color:#899fbd;
  display: flex;
  line-height: 100%;
}


.add_tag-label{
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color:crimson;
  border-right: 0.08px solid #899fbd;
}
.add_tag-label-btn{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}


.name_tag-btn--change{
  /* height: 15px; */
  width: 30px;
  color: #5c5d5f;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 100%;
}
.modal_edit-name-tag-form{
  display: flex;
  align-items: center;
  width: 360px;
  justify-content: space-between;
}
.name_tag-text--change{
  flex: 1;
  width: 250px;
  height: 25px;
  line-height: 25px;
  font-size: 1.6rem;
}


/*  */
.user--busy{
  text-decoration: line-through;
}
.disable-click{
  pointer-events: none;
  opacity: 0.6;
}


/* Debate area */

.debate_post-container{
  margin-top: 1.5rem;
}
.debate-input{
  font-size: 1.3rem;
	border-radius: 3px;
	outline: none;
	border:none;
	box-shadow: 0 1px 0 rgba(9,30,66,.25);
	margin-bottom: 10px;
	width:100%;
	display:block;
	max-width:100%;
	line-height:1.5;
	padding:15px 15px 30px;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	background:-o-linear-gradient(#F9EFAF, #F7E98D);
	background:-ms-linear-gradient(#F9EFAF, #F7E98D);
	background:-moz-linear-gradient(#F9EFAF, #F7E98D);
}

.debate_content-container-list{
  list-style: none;
  margin-top: 10px;
}
.debate_content-item{
  font-size: 1.3rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.debate_time-text{
  font-size: 1rem;
  color: #6f7072;
  margin-left: 10px;
}
.debate_content-item--main{
  /* margin-bottom: 5px; */
}
.debate_time-user{
  width: 30px;
}
.debate_content-item-btn{
  font-size: 1.2rem;
  color: rgb(153, 68, 68);
  margin-left: 40px;
  cursor: pointer;
  text-decoration: underline;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.board_list-container.cdk-drop-list-dragging .board_list-tag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.member-deleted, .member-added{
  margin-right: 0px;
  margin-left: auto;
}

.list-container{
  list-style: none;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 100px;
}
.list--item{
  width: 340px;
  min-height: 42px;
  display: inline-block;
  vertical-align: top;
}
.add_list-container{
  /* padding: 0; */
}
.add_list-form{
  padding: 0;
}
.add_list-btn{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #5AAC44;
}
.add_list-btn:hover{
  opacity: 0.8;
  cursor: pointer;
}
.add_list-btn--post{
  padding: 5px 20px;
  border-radius: 3px;
  border:1px solid black;
  box-shadow: 2px 2px rgb(32, 32, 32);
  margin-right: 8px;
}
.add_list-btn-container{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.add_list-btn-container:hover{
  opacity: 0.8;
  cursor: pointer;
}
.add_list-btn--hidden{
  display: none;
}
.add_list-container--open{
  /* line-height: 100%; */
  white-space: nowrap;
}

.add_list--main-container{
  display: none;
  padding: 5px 10px;
  background-color: #EBECF0;
}
.add_list--main-container--active{
  display: block;
}

.add_list-input-container{
  width: 100%;
  margin: 8px 0 10px 0;
}
.add_list-text{
  border: 0;
  box-shadow: inset 0 0 0 2px #0079bf;
  font-size: 2.1rem;
  padding: 5px;
  width: 100%;
}
.add_list-text:hover{
  border-radius: 0;
}


/* update members in a board */
.board_info-member--invite-label{
  width: 100%;
  height: 100%;
  padding: 3px 8px;
}
.invited_member-container-label{
  border-bottom: 1px solid rgb(130 128 128);
  display: flex;
}
.member_list-updated_board{
  flex: 1;
}
.invited_member-container{
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color:white;
  padding: 3px;
  border-radius: 3px;
  top: 110%;
  left: 0;
  border: 1px solid #172b4d;
  overflow-x: hidden;
  overflow-y: auto;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* add checklist */
.add_detail-param{
  margin-bottom: 10px;
}
.detail-checklist-item-time{
  font-size: 1.5rem;
  margin-right: 3px;
}
