
<div class="modal_container" [class.show_login_modal]="openLoginModal">
  <div class="modal_overlay"></div>
  <div class="modal_body">
    <!-- login form -->
    <form ngNativeValidate class="auth_form" (ngSubmit)="login()">
      <div class="auth_form-container">
        <div class="auth_form-header">
          <h3 class="auth_form-header-text">Đăng nhập</h3>
        </div>
        <div class="auth_form-form">
          <label for="username" class="auth_form-group">
            <span class="label_input">Tên đăng nhập</span>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Tên đăng nhập" class="auth_form-input" required>
          </label>
          <label for="password" class="auth_form-group">
            <span class="label_input">Mật khẩu</span>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Mật khẩu" class="auth_form-input" required>
          </label>
        </div>
        <div class="auth_form-button">
          <span class="btn btn--margin" (click)="cancelLoginProcess()">Trở Lại</span>
          <button class="btn btn--primary">Đăng Nhập</button>
        </div>
      </div>
    </form>
  </div>
</div>
