*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
html{
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	background-color: #FAFBFC;
}

.body_container{
	height: 100%;
	/*position: relative;*/
    z-index: 1;
    overflow: hidden;
}
.grid {
    width: 100%;
    display: block;
    /* padding: 10px 0 0 0; */
    padding: 0;
    background-color: #FAFBFC;
}

.grid .wide {
    max-width: 98%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    /* margin-bottom: 25px; */
}
.col {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
}
.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
/* .c-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
} */
.c-4 {
  flex: 0 0 25%;
  max-width: 25%;
}
.fas{
	margin-right: 10px;
}
.wellcome-title, .wellcome-direction{
  text-align: center;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 15px;
}
.wellcome-link{
  color: #dd1717;
  cursor: pointer;
  text-decoration: underline;
}
/* modal css */
/*login form*/

.modal_container{
  position: fixed;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 50;
  /*display: flex;*/
  overflow-x: hidden;
}
.modal_overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -50%;
	background-color: rgba(0,0,0,0.8);
}
.modal_body{
	z-index: 99;
	margin: auto;
	border:1px solid #d3d3d3;
	border-radius: 2px;
	background-color: white;
}
.show_login_modal{
  display: flex;
}
.show_register_modal{
  display: flex;
}
.show_add-board-modal{
  display: flex;
}
.auth_form{
	width: 500px;
}
.auth_form-container{
	padding:10px 25px;
}
.auth_form-header{
	display: flex;
  align-items: center;
  text-align: center;
	line-height: 3rem;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.auth_form-header-text{
	font-weight: 400;
	font-size: 2rem;
  color:#EE4D2D;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.auth_form-switch-btn{
	text-decoration: none;
	color: red;
	font-weight: 500;
}
.auth_form-aside{
	margin-bottom: 50px;
}
.auth_form-group{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.label_input{
  font-size: 1.4rem;
  width: 100px;
}
.select-container{
  height: 25px;
  width: 200px;
  font-size: 1.3rem;
}

.auth_form-input{
	width: 100%;
	height: 40px;
	/* margin-bottom: 16px; */
	padding: 0 12px;
	font-size: 1.4rem;
	border-radius: 2px;
	border:1px solid #dbdbdb;
  outline: none;
  flex:1;
}
.auth_form-input:focus{
	border-color: rgba(0,0,0,.8);
}
.auth_form-policy-text{
	font-size: 1.2rem;
	color: rgba(0,0,0,.88);
	text-align: center;
	line-height: 1.8rem;
}
.auth_form-text-link{
	text-decoration: none;
	color:#ee4d2d;
}
.auth_form-button{
	display: flex;
	justify-content: flex-end;
}
.btn{
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	font-size: 1.1rem;
	cursor: pointer;
	outline: none;
}
.btn:hover{
	opacity: 0.8;
}
.btn--margin{
	margin-right: 8px;
	border:none;
	background-color: white;
	font-size: 1.5rem;
}
.btn--primary{
	background-color: #5AAC44;
	border:none;
	font-size: 1.5rem;
}
.auth_form-social{
	background-color: #f5f5f5;
	padding: 12px 25px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.btn-icon-sms{
	background-color: #11b50c;
	color: white;
	margin-right: 10px;
}
.btn-icon-facebook{
	background-color: #3a5a98;
	color: white;
	margin-right: 10px;
}
.btn-icon-google{
	background-color: #ee4d2d;
	color: black;
}
.auth_form-social-text-margin{
	padding:0 36px;
}
.auth_form-aside-help{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 25px;
}
.auth_form-aside-help-link{
	background-color: white;
	font-size: 1.5rem;
	text-decoration: none;
	color: #939393;
}
.auth_form-aside-help-btn{
	border: none;
	color: #ee4d2d;
}
.auth_form-aside-help-separate{
	display: block;
	border: 1px solid #d3d3d3;
	margin: 0 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* scrollbar */
